body {
    background-color: #000;
}

#top {
    color: #fff;
    padding: 20px 0;
}

.top10 {
    max-height: 700px;
    overflow: hidden;
}

.top10 .player:first-child {
    color: #ffff00;
    font-size: 120%;
}

.top10 .player.active::before {
    content: '*';
    display: inline-block;
    padding-right: 5px;
    margin-left: -10px;
    position: relative;
    top: 5px;
}

#game {
    width: 100%;
    height: auto;
}

#panel {
    color: #fff;
}

#panel h3 {
    margin-top: 0;
}

#main-app {

}